$black: #1d1d1d
$grey: #dedede

*, html
  margin: 0
  padding: 0
  background-color: lighten($grey, 5%)

.frame
  height: 30em
  width: 25em
  border: .5em solid $black
  background-color: white
  margin: 5% auto
  box-shadow: 0 2px 5px rgba(0,0,0.3)

.realistic
  background-color: $grey
  margin: 20px
  height: 92%
  width: 90%
